<div class="navbar-wrapper">
    <div class="m-header">
        <a href="{{ url_for('admin_routes.dashboard') }}" class="b-brand text-primary">
            <!-- ========   Change your logo from here   ============ -->
            <img src="{{ url_for('static', filename='common/img/logo-white.png') }}" class="img-fluid logo-lg"
                 alt="logo"/>
        </a>
    </div>
    <div class="navbar-content">
        <ul class="pc-navbar">
            <li class="pc-item pc-caption">
                <label data-i18n="Navigation">{{ _('Navigation') }}</label>
            </li>
            <li class="pc-item">
                <a href="{{ url_for('admin_routes.search') }}" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-input-search"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Search') }}</span>
                </a>
            </li>
            <li class="pc-item">
                <a href="{{ url_for('admin_routes.dashboard') }}" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-brand-google-analytics"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Dashboard') }}</span>
                </a>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-car-garage"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Car Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.cars') }}" >{{ _('Car List') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.car_new') }}">{{ _('Add New Car') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-user-dollar"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Customer Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.customers') }}" >{{ _('Customers') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.customer_new') }}">{{ _('Add New Customer') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-transaction-yen"></i>
                    </span>
                    <span class="pc-mtext">{{ _('Sale Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.transactions') }}" >{{ _('Transactions') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.transaction_new') }}">{{ _('Add Transaction') }}</a></li>
                </ul>
            </li>
            <li class="pc-item pc-caption">
                <label>{{_('Setting')}}</label>
                <i class="ph ph-book-open-text"></i>
            </li>
            <li class="pc-item pc-hasmenu">
                <a href="#!" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-user"></i>
                    </span>
                    <span class="pc-mtext">{{ _('User Management') }}</span>
                    <span class="pc-arrow"><i class="ti ti-chevron-right"></i></span>
                </a>
                <ul class="pc-submenu">
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.users') }}" >{{ _('Users') }}</a></li>
                    <li class="pc-item"><a class="pc-link" href="{{ url_for('admin_routes.register') }}">{{ _('Add New User') }}</a></li>
                </ul>
            </li>
            <li class="pc-item">
                <a href="{{ url_for('admin_routes.system') }}" class="pc-link">
                    <span class="pc-micon">
                      <i class="ti ti-settings-cog"></i>
                    </span>
                    <span class="pc-mtext">{{_('System')}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>