{% extends "_base.html" %}

{% block breadcrumb %}
<div class="page-header">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="mb-0">{{ _('Detail') }}</h5>
                </div>
            </div>
            <div class="col-md-12">
                <ul class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/admin">{{ _('Home') }}</a></li>
                    <li class="breadcrumb-item"><a href="/admin/customer">{{ _('Customer') }}</a></li>
                    <li class="breadcrumb-item"><a href="javascript: void(0)">{{ _('Detail') }}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="row">
    <!-- [ sample-page ] start -->
    <div class="col-lg-4">
        <div class="card user-card user-card-1">
            <div class="card-body pb-0">
                <div class="d-flex user-about-block align-items-center mt-0 mb-3">
                    <div class="flex-shrink-0">
                        <div class="position-relative d-inline-block">
                            <img class="img-radius img-fluid wid-60"
                                src="{{ url_for('static', filename='admin/images/user/avatar-1.svg') }}"
                                alt="{{ customer.name }}" />
                        </div>
                    </div>
                    <div class="flex-grow-1 ms-3">
                        <h6 class="mb-1">{{ customer.name }}</h6>
                        {% if customer.status and customer.status|lower != 'none' %}
                        <span class="badge bg-light-danger">{{ _(customer.status|title) }}</span>
                        {% endif %}
                    </div>
                </div>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    <span class="f-w-500"><i class="ti ti-brand-facebook m-r-10"></i>{{ _('Facebook') }}</span>
                    <span class="float-end text-body">{{ customer.facebook }}</span>
                </li>
                <li class="list-group-item">
                    <span class="f-w-500"><i class="ph ph-phone-call m-r-10"></i>{{ _('Phone') }}</span>
                    <span class="float-end text-body">{{ customer.phone }}</span>
                </li>
                <li class="list-group-item border-bottom-0">
                    <span class="f-w-500"><i class="ph ph-map-pin-line m-r-10"></i>{{ _('Address') }}</span>
                    <span class="float-end text-body">{{ customer.address }}</span>
                </li>
            </ul>
            <div class="nav flex-column nav-pills list-group list-group-flush list-pills" id="user-set-tab"
                role="tablist" aria-orientation="vertical">
                <a class="nav-link list-group-item list-group-item-action active" id="customer-information-tab"
                    data-bs-toggle="pill" href="#customer-information" role="tab" aria-controls="customer-information"
                    aria-selected="false">
                    <span class="f-w-500 d-inline-flex align-items-center"><i class="mb-0 ph ph-user m-r-10 h5"></i>{{
                        _('Customer information') }}</span>
                    <span class="float-end"><i class="ph ph-caret-right"></i></span>
                </a>
                <a class="nav-link list-group-item list-group-item-action" id="customer-purchased-list-tab"
                    data-bs-toggle="pill" href="#customer-purchased-list" role="tab"
                    aria-controls="customer-purchased-list" aria-selected="true">
                    <span class="f-w-500 d-inline-flex align-items-center"><i
                            class="mb-0 ph ph-list-heart m-r-10 h5"></i>{{ _('Purchased List') }}</span>
                    <span class="float-end"><i class="ph ph-caret-right"></i></span>
                </a>
                <a class="nav-link list-group-item list-group-item-action" id="customer-add-transaction-tab"
                    data-bs-toggle="pill" href="#customer-add-transaction" role="tab"
                    aria-controls="customer-add-transaction" aria-selected="false">
                    <span class="f-w-500 d-inline-flex align-items-center"><i
                            class="mb-0 ti ti-transaction-yen m-r-10 h5"></i>{{ _('Add New Transaction') }}</span>
                    <span class="float-end"><i class="ph ph-caret-right"></i></span>
                </a>

            </div>
        </div>
        <div class="card">
            <div class="card-header">
                <h5><i class="ph ph-image align-text-bottom text-primary f-20 me-2"></i>{{ _('Customer Images') }}</h5>
            </div>
            <div class="card-body">
                {% if customer.images %}
                <div id="inline-gallery-container" class="inline-gallery-container bg-dark rounded shadow-sm mb-3" style="width: 100%; height: 400px; position: relative; overflow: hidden;"></div>
                {% else %}
                <p class="text-muted text-center py-3"><i class="ph ph-image-broken f-24 d-block mb-2"></i>{{ _('No images available.') }}</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="tab-content" id="user-set-tabContent">
            <div class="tab-pane fade show active" id="customer-information" role="tabpanel"
                aria-labelledby="customer-information-tab">
                <div class="card">
                    <form name="customer_form" action="/admin/customer/{{ customer.id }}" method="POST"
                        enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div id="sticky-action" class="sticky-action">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <h5><i class="ph ph-user align-text-bottom text-primary f-20"></i><span
                                                class="p-l-5">{{ _('Customer information') }}</span>
                                        </h5>
                                    </div>
                                    <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                                        <button type="submit" class="btn btn-success">{{ _('Update') }}</button>
                                        <button type="reset" class="btn btn-light-secondary">{{ _('Reset') }}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="name">{{ _('Name') }}<span
                                                class="text-danger">*</span></label>
                                        <input id="name" name="name" type="text"
                                            class="form-control {% if form.name.errors %}is-invalid{% endif %}"
                                            value="{{ customer.name }}" />
                                        {% if form.name.errors %}
                                        <div class="invalid-feedback">{{ form.name.errors[0] }}</div>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="gender">{{ _('Gender') }}</label>
                                        <select class="form-control" name="gender" id="gender">
                                            <option value="unknown">{{ _('Unknown') }}</option>
                                            <option value="male" {% if customer.gender=='male' %} selected="selected" {%
                                                endif %}>{{ _('Male') }}</option>
                                            <option value="female" {% if customer.gender=='female' %}
                                                selected="selected" {% endif %}>{{ _('Female') }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="address">{{ _('Address') }}</label>
                                        <input id="address" name="address" type="text"
                                            value="{{ customer.address  or '' }}" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="phone">{{ _('Phone') }}</label>
                                        <input id="phone" name="phone" type="text" value="{{ customer.phone or '' }}"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="birth_day">{{ _('Birthday') }}</label>
                                        <div class="input-group date">
                                            <input name="birth_day" type="text" class="form-control datepicker-input"
                                                value="{{ customer.birth_day or '' }}" id="birth_day">
                                            <span class="input-group-text"><i class="ph ph-calendar-blank"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="facebook">{{ _('Facebook') }}</label>
                                        <input id="facebook" name="facebook" type="text" class="form-control"
                                            value="{{ customer.facebook  or '' }}" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="lead_source">{{ _('Lead Source') }}</label>
                                        <input id="lead_source" name="lead_source" type="text"
                                            value="{{ customer.lead_source  or '' }}" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="status">{{ _('Status') }}</label>
                                        <select class="form-control" name="status" id="status">
                                            <option value="">{{ _('Customer status') }}</option>
                                            <option value="paid" {% if customer.status=='paid' %} selected="selected" {%
                                                endif %}>{{ _('Paid') }}</option>
                                            <option value="wait2pay" {% if customer.status=='wait2pay' %}
                                                selected="selected" {% endif %}>{{ _('Wait to pay') }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="note">{{ _('Note') }}</label>
                                        <textarea class="form-control" id="note" name="note"
                                            rows="3">{{ (customer.note or '')|safe }}</textarea>
                                    </div>
                                </div>
                                <div class="col-md-12 mt-3">
                                    <div class="mb-3">
                                        <label class="form-label" for="images">{{ _('Add More Images') }}</label>
                                        <div id="drop-area" class="border border-dashed border-primary rounded p-4 text-center" style="cursor: pointer; background: rgba(var(--bs-primary-rgb), 0.05); transition: background 0.3s; border-style: dashed !important; border-width: 2px !important;">
                                            <i class="ph ph-upload-simple f-30 text-primary mb-2"></i>
                                            <h5>{{ _('Drag and drop more images here or click to select') }}</h5>
                                            <p class="text-muted mb-0">{{ _('Supports JPG, PNG, WEBP') }}</p>
                                            <input type="file" id="images" name="images" multiple class="d-none" accept="image/jpeg, image/png, image/webp" />
                                        </div>
                                        <div id="gallery-preview" class="d-flex flex-wrap mt-3 gap-2"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="tab-pane fade" id="customer-purchased-list" role="tabpanel"
                aria-labelledby="customer-purchased-list-tab">
                <div class="card">
                    <div id="sticky-customer-list" class="sticky-action">
                        <div class="card-header">
                            <div class="row align-items-center">
                                <div class="col-sm-6">
                                    <h5><i class="ph ph-car-profile align-text-bottom text-primary f-20"></i><span
                                            class="p-l-5">{{ _('Purchased List') }}</span>
                                    </h5>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover" id="pc-dt-simple-2">
                                        <thead>
                                            <tr>
                                                <th>{{ _('Transaction No.') }}</th>
                                                <th>{{ _('Car Name') }}</th>
                                                <th>{{ _('Purchase date') }}</th>
                                                <th>{{ _('Unit Price') }} ({{ currency_symbol }})</th>
                                                <th>{{ _('Status') }}</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for transaction in customer.transactions %}
                                            {% for car in transaction.cars %}
                                            <tr>
                                                <td><a
                                                        href="{{ url_for('admin_routes.transaction_detail', transaction_id=transaction.id) }}">{{
                                                        transaction.id }}</a></td>
                                                <td>
                                                    <div class="row align-items-center">
                                                        <div class="col">
                                                            <h6 class="mb-1">
                                                                <span class="text-truncate w-100">
                                                                    <a
                                                                        href="{{ url_for('admin_routes.car_detail', car_id=car.id) }}">{{
                                                                        car.name }}</a>
                                                                </span>
                                                            </h6>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ transaction.purchase_date or '-' }}</td>
                                                <td>{{ transaction.selling_price | format_currency }}</td>
                                                <td><span class="badge bg-light-success">{{ transaction.status_label
                                                        }}</span>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="customer-add-transaction" role="tabpanel"
                aria-labelledby="customer-add-transaction-tab">
                <div class="card">
                    <form name="add_transaction"
                        action="{{ url_for('admin_routes.add_customer_purchase', customer_id=customer.id) }}"
                        method="POST" enctype="multipart/form-data">
                        {{ form.csrf_token }}
                        <div id="sticky-transaction" class="sticky-action">
                            <div class="card-header">
                                <div class="row align-items-center">
                                    <div class="col-sm-6">
                                        <h5><i class="ph ph-user align-text-bottom text-primary f-20"></i><span
                                                class="p-l-5">{{ _('Add Purchase') }}</span>
                                        </h5>
                                    </div>
                                    <div class="col-sm-6 text-sm-end mt-3 mt-sm-0">
                                        <button type="submit" class="btn btn-success">{{ _('Add') }}</button>
                                        <button type="reset" class="btn btn-light-secondary">{{ _('Cancel') }}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="car_id">{{ _('Car') }}<span
                                                class="text-danger">*</span></label>
                                        <select id="car_id" name="car_id" class="form-control">
                                            <option value="">{{ _('Select A Car') }}</option>
                                            {% for car in cars %}
                                            <option value="{{ car.id }}">{{ car.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="purchase_date">{{ _('Purchase Date')
                                            }}</label>
                                        <div class="input-group date">
                                            <input name="purchase_date" type="text"
                                                class="form-control datepicker-input" id="purchase_date">
                                            <span class="input-group-text"><i class="ph ph-calendar-blank"></i></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="selling_price">{{ _('Unit Price') }} ({{
                                            currency_symbol }})</label>
                                        <input id="selling_price" name="selling_price" type="text"
                                            class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label class="form-label" for="trans_status">{{ _('Status') }}</label>
                                        <select class="form-control" name="status" id="trans_status">
                                            <option value="">{{ _('Customer status') }}</option>
                                            <option value="paid">{{ _('Paid') }}</option>
                                            <option value="wait2pay">{{ _('Wait to pay') }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="mb-3">
                                        <label class="form-label" for="trans_note">{{ _('Note') }}</label>
                                        <textarea class="form-control" id="trans_note" name="note" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- [ sample-page ] end -->
</div>
{% endblock %}

{% block css %}
<!-- [Page specific CSS] start -->
<link rel="stylesheet" href="{{ url_for('static', filename='admin/css/plugins/datepicker-bs5.min.css') }}" />
<!-- lightGallery CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/css/lightgallery-bundle.min.css" />
<!-- [Page specific CSS] end -->
{% endblock %}

{% block js %}
<!-- bootstrap-datepicker -->
<script src="{{ url_for('static', filename='admin/js/plugins/datepicker-full.min.js') }}"></script>
<!-- lightGallery JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/lightgallery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/thumbnail/lg-thumbnail.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/2.7.2/plugins/zoom/lg-zoom.min.js"></script>
<script>
    // datetime pickers
    var dtp = ['#birth_day'];
    dtp.forEach((selector) => {
        var querySelector = document.querySelector(selector);
        if (!querySelector) return;
        new Datepicker(querySelector, {
            buttonClass: 'btn',
            todayBtn: true,
            clearBtn: true,
            orientation: 'bottom left'
        });
    });

    // lightGallery carousel inline initialization
    const inlineGalleryContainer = document.getElementById('inline-gallery-container');
    if (inlineGalleryContainer) {
        const dynamicEl = [
            {% for image in customer.images %}
            {
                src: '{{ url_for("static", filename=image.file_path) }}',
                thumb: '{{ url_for("static", filename=image.file_path) }}',
                subHtml: '<div class="text-center pb-4"><button type="button" class="btn btn-danger btn-sm shadow" onclick="deleteImage({{ image.id }})"><i class="ph ph-trash me-2"></i>{{ _("Delete Image") }}</button></div>',
                id: {{ image.id }}
            },
            {% endfor %}
        ];

        window.lgInstance = lightGallery(inlineGalleryContainer, {
            container: inlineGalleryContainer,
            dynamic: true,
            hash: false,
            closable: false,
            showMaximizeIcon: true,
            appendSubHtmlTo: '.lg-item',
            slideDelay: 400,
            plugins: [lgZoom, lgThumbnail],
            dynamicEl: dynamicEl,
            thumbWidth: 80,
            thumbContHeight: 100,
            download: false
        });

        // Open gallery automatically since it's inline
        setTimeout(() => {
            window.lgInstance.openGallery(0);
        }, 100);
    }

    function deleteImage(imageId) {
        if (!confirm('{{ _("Are you sure you want to delete this image?") }}')) return;
        
        fetch(`/admin/customer/image/${imageId}/delete`, {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ form.csrf_token._value() }}'
            }
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                location.reload();
            } else {
                alert('Error: ' + data.error);
            }
        })
        .catch(err => {
            console.error('Error deleting image:', err);
            alert('{{ _("Failed to delete the image.") }}');
        });
    }

    // Drag and drop image upload functionality
    const dropArea = document.getElementById('drop-area');
    const fileInput = document.getElementById('images');
    const galleryPreview = document.getElementById('gallery-preview');
    let uploadedFiles = new DataTransfer();

    if (dropArea && fileInput) {
        ['dragenter', 'dragover', 'dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, e => { e.preventDefault(); e.stopPropagation(); }, false);
        });

        ['dragenter', 'dragover'].forEach(eventName => {
            dropArea.addEventListener(eventName, () => dropArea.style.background = 'rgba(var(--bs-primary-rgb), 0.15)', false);
        });

        ['dragleave', 'drop'].forEach(eventName => {
            dropArea.addEventListener(eventName, () => dropArea.style.background = 'rgba(var(--bs-primary-rgb), 0.05)', false);
        });

        dropArea.addEventListener('drop', e => handleFiles(e.dataTransfer.files), false);
        dropArea.addEventListener('click', () => fileInput.click(), false);
        fileInput.addEventListener('change', function() { handleFiles(this.files); }, false);

        function handleFiles(files) {
            Array.from(files).forEach(file => {
                if (file.type.startsWith('image/')) {
                    uploadedFiles.items.add(file);
                    previewFile(file);
                }
            });
            fileInput.files = uploadedFiles.files;
        }

        function previewFile(file) {
            let reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onloadend = function() {
                let imgContainer = document.createElement('div');
                imgContainer.className = 'position-relative';
                
                let img = document.createElement('img');
                img.src = reader.result;
                img.className = 'img-thumbnail';
                img.style.height = '120px';
                img.style.objectFit = 'cover';
                img.style.width = '120px';
                
                let removeBtn = document.createElement('button');
                removeBtn.className = 'btn btn-sm btn-danger position-absolute top-0 end-0 m-1 p-1';
                removeBtn.innerHTML = '<i class="ph ph-x"></i>';
                removeBtn.onclick = function(e) {
                    e.preventDefault(); e.stopPropagation();
                    const dt = new DataTransfer();
                    for(let i=0; i<uploadedFiles.files.length; i++) {
                        if(uploadedFiles.files[i] !== file) dt.items.add(uploadedFiles.files[i]);
                    }
                    uploadedFiles = dt;
                    fileInput.files = uploadedFiles.files;
                    imgContainer.remove();
                };

                imgContainer.appendChild(img);
                imgContainer.appendChild(removeBtn);
                galleryPreview.appendChild(imgContainer);
            }
        }
    }
</script>
{% endblock %}